body {
    background-color: #fff; /* bgc#fff */
    color: #080808; /* c#080808 */
  }
  header {
    background-color: #d59bf6; /* bgc#d59bf6 */
    color: #080808; /* c#080808 */
  }
  nav {
    background-color: #d59bf6; /* bgc#d59bf6 */
  }
  h1{
    margin-bottom: 0; /*mb0 */
  }
  h2 {
    color: #080808; /* c#080808 */
  }
  dt {
    color: #002171; /* c#002171 */
  }
  .yoga {
    color: #9e17ec; /* c#9e17ec */
  }
  